/*html {
  height: 100%;
  font-size: 100%;
}*/

/*body {
  background-color: rgba(0,0,0);
}

.title-bar {
  box-sizing: border-box;
  position: relative;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.title-bar .title {
  text-align: center;
  font-family: 'Kameron', serif;
  font-size: 48px;
}

.nav-column {
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: 550px;
  border-color: rgb(0,0,0);
  border-style: solid;
  padding: 5px;
}*/
