/*html {
  height: 100%;
  font-size: 100%;
}

body {
  background-color: rgba(46, 45, 61, 0.5);
}

.title-bar {
  box-sizing: border-box;
  position: relative;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgba(255,255,255,.4);
}

.title-bar .title {
  font-family: 'Holtwood One SC', serif;
  text-align: center;
  font-size: 50px;
  margin: auto;
}

.nav-column {
  box-sizing: border-box;
  border-style: solid;
  position: absolute;
  margin-top: 10px;
  margin-right: 0;
  padding-bottom: 350px;
  background-color: rgba(255,255,255,.4);
}

.nav-column .form {
  padding: 3px 3px 3px 3px;
}

.nav-column .form .button {
  margin-top: 3px;
}*/
