html {
  height: 100%;
  font-size: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Zilla Slab', serif;
}

.nav-column {
  box-sizing: border-box;
  border-right-style: double;
  border-color: rgb(0, 0, 0);
}

.nav-column .title {
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  text-align: left;
  font-size: 45px;
  margin: auto;
}

.nav-column .room-list {
  text-align: left;
}

.modal-header .modal-title {
  font-family: 'Zilla Slab', serif;
  font-size: 30px;
}

.chatroom-name {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: light;
  margin-right: 5px;
}

.btn {
  font-family: 'Lato', sans-serif;
}

.btn.btn-info {
  margin-top: 10px;
  font-size: 17px;
}

.btn.btn-danger {
  font-size: 18px;
}

.btn.btn-success {
  font-size: 18px;
}
