.messages {
  position: fixed;
  bottom: 10px;
  left: 150px;
  top: 44px;
  width: 87.3%;
  max-width: 100%;
  margin: 0px 10px 0px 10px;
  border-left-style: double;
  border-color: grey;
  padding: 0px 10px 0px 5px;
}
.chatroom-name {
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.messages-list:nth-child(even) {
  background-color: rgba(0, 138, 255, .2);
  margin: 0 0 0 0px;
  padding: 3px 3px 3px 3px;
}
.messages-list:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.2);
  margin: 0 0 0 0px;
  padding: 3px 3px 3px 3px;
}
.name {
  font-weight: bold;
  font-family: 'Lora', serif;
  font-size: 15px;
}
.message {
  font-family: 'Spectral', serif;
  font-size: 18px;
  font-weight: 400;
}

.message {
  bottom: 10px;
  right: 10px;
}

.new-message {
  position: fixed;
  bottom: 10px;
  float: left;
  border-radius: 5px;
}

.btn.send-message {
  position : fixed;
  bottom: 10px;
  right:10px;
  font-size: 15px;
}

.btn.send-message:hover {
  bottom: 10px;
  float: right;
  background-color: grey;
  color: white;
}
