.modal-header .modal-title {
  font-family: 'Zilla Slab', serif;
  font-size: 25px;
  font-weight: bold;
}

.input-box {
  margin-left: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group .chatroom-name {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.btn.btn-danger {
  font-size: 15px;
}

.btn.btn-success {
  font-size: 15px;
}

.username-modal-header .username-modal-title {
  font-family: 'Zilla Slab', serif;
  font-size: 25px;
  font-weight: bold;
  padding-left: 5px;
}
