<div class="modal-header">
  <h3 class="modal-title">Add Your Own Chat Room!</h3>
</div>

<div class="modal-body">
  <form ng-submit="modal.createRoom(roomName)">
    <div class="form-group">
      <label class="chatroom-name">Chat Room Name:</label>
      <input class="input-box" type="text" ng-model="roomName">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="modal.cancel()">Cancel</button>
      <button type="submit" class="btn btn-success success" data-dismiss="modal" ng-click="modal.close()">Submit</button>
    </div>
  </form>
</div>
